@media (max-width: 1200px)
	.header
		&_nav
			&_menu

				&_item
					padding-right: 20px

				&_link
					font-size: 14px
	.promo
		padding: 130px 0 135px 0

		&_header
			font-size: 50px
			line-height: 50px

		&_subheader
			font-size: 28px
			line-height: 2rem

	.advantages

		&_item
			align-items: flex-start

		&_descr
			width: 300px

@media (max-width: 991px)

	.title
		font-size: 2rem

	.header
		&_nav
			&_menu
				padding: 13px 50px
				padding-left: 20px

				&_item
					padding-right: 14px

				&_link
					font-size: 12px
	.subheader
		&_logo
			&_img
				width: 100%

		&_official
			font-size: 11px

		&_phone
			font-size: 18px

		&_btn
			width: 100%
			height: 34px
			margin-top: 22px

	.promo

		&_header
			font-size: 40px
			line-height: 40px

		&_subheader
			font-size: 28px
			line-height: 2rem

	.advantages

		&_item
			flex-direction: column
			justify-content: flex-start
			align-items: center

		&_descr
			margin-top: 20px
			width: 320px
			//text-align: justify

@media (max-width: 767px)
	.header
		&_nav
			&_menu
				flex-direction: column
				justify-content: center
				align-items: center
				position: fixed
				top: 0
				left: -100%
				width: 50%
				height: 100vh
				padding: 20px 15px
				background-color: rgba(0,0,0,.8)
				transition: .6s all
				&_active
					left: 0

				&_item
					margin: 10px 0
					padding-right: 0
					border: none

				&_link
					font-size: 20px
